{% extends 'base.html' %}
{% block content %}
    <title>Добавить участников в проект {{ project.name }}</title>
    <form method="post">
        {% csrf_token %}
        <select name="username" id="username">
        {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Добавить участников</button>
    </form>
    <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary">Назад</a>
{% endblock %}